# if Statements

In [ ]:
#increment the value by 1

In [ ]:
#Determine weather a person is eligible to vote by using  input 
age = int(input("Enter your age: "))
if age > 18:
    print("You are eligible to Vote")

# if - else Statements

In [ ]:
#Determine weather a person is eligible to vote by using input
age = int(input("Enter your age: "))
if age > 18:
    print("You are eligible to Vote")
else:
    years = 18- age
    print("You still need", years, "years to caste your vote")

In [1]:
#find the number is even or odd by using input 
number = int(input("Enter your age: "))

if number % 2 == 0:
    print(number,'Number Is Even')
else:
    print(number,'Number is Odd')

Enter your age: 10
10 Number Is Even

In [2]:
# A company decides to give bonus to all its employees on New year. A 10% bonus on salary for all the male workers and
# 25% to females. build a programme to enter Salary and Gender(m or F) of employee. 

sal = int(input("Enter you salary :"))
gen = input("Enter yor Gender m or f:")

if gen.lower() == 'm':
    bonus = sal*0.10
else:
    bonus = sal*0.25
final_sal = sal+bonus
print("Actual salary :", sal)
print("Bonus :", bonus)
print("Final salary :", final_sal)

Enter you salary :10000
Enter yor Gender m or f:m
Actual salary : 10000
Bonus : 1000.0
Final salary : 11000.0

# if -elif- else Statement

In [3]:
# check weather the number is positive or negitive or equal to zero using input
num = int(input("enter a number to test"))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

enter a number to test10
Positive number

In [4]:
list('aeiou')

['a', 'e', 'i', 'o', 'u']

In [3]:
# Test Weather the charcter is vowel or not vowel using input
let = input("Enter any letter: ")

if let in list('aeiou'):
    print(let, "is vowel")
    
elif let in list('AEIOU'):
    print(let, "is vowel")
    
else:
    print(let, "is not vowel")

Enter any letter: D
D is not vowel

In [8]:
#Given an integer input perform the following conditional actions:

#If n is odd, print odd
#If n is even and in the inclusive range of 2 to 5, print small
#If n is even and in the inclusive range of 6 to 20, print medium
#If n is even and greater than 20, print big

n = int(input("Enter a number : "))

if n%2==0:
    if n >= 2 and n <=5:
        print(n, "small")
    elif n>= 6 and n <=20:
        print(n,"Medium")
    elif n>20:
        print(n, "big")
else:
    print(n, "odd")

Enter a number : 3
3 odd

# while loop

In [1]:
# print first 10 numbers 
i = 1

while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [10]:
# find average and sum for first 10 numbers 
count = 1
sum1 = 0
avg = 0

while count <= 10:
    sum1 += count
    count += 1
    avg = sum1 // count


print('Sum     = ',sum1)
print('Average = ',avg)

Sum     =  55
Average =  5

In [14]:
#Draw a line using while loop 
i = 1

while i <= 50:
    print('-', end= ' ')
    i += 1

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [15]:
#calculate the sum of m to n  numbers using input
m = int(input("Enter a number : "))
n = int(input("Enter a number : "))
sum = 0
while m <= n:
    sum = sum + m
    m += 1
print(sum)

Enter a number : 10
Enter a number : 20
165

In [2]:
# countdown 10 to 0 using input
i = 10
while i >= 0:
  print(i)
  i = i - 1

10
9
8
7
6
5
4
3
2
1
0

# for loop

In [18]:
#Multiplication table using input
n = int(input("Input a number: "))
for i in range(1,12):
 print(n,'x',i,'=',n*i)

Input a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22

In [19]:
#print even and odd for range of number

for i in range(1,10):
    if i % 2 == 0:
        print('{} is {}'.format(i,'even'))
    else:
        print('{} is {}'.format(i,'odd'))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [20]:
# break statement
for val in "priyanka":
    if val == "i":
        break
    print(val)

p
r

In [21]:
#countinue statement 
food=["Briyani","Vada","Poori","Spinach","Egg","Juice"]
for x in food:
    if(x=="Spinach"):
        continue
    print(x)

Briyani
Vada
Poori
Egg
Juice

In [24]:
# all leap years from 1800 - 2021
for i in range(1800,2021):
    if i%4==0:
        print(i,' is leap year')

1800  is leap year
1804  is leap year
1808  is leap year
1812  is leap year
1816  is leap year
1820  is leap year
1824  is leap year
1828  is leap year
1832  is leap year
1836  is leap year
1840  is leap year
1844  is leap year
1848  is leap year
1852  is leap year
1856  is leap year
1860  is leap year
1864  is leap year
1868  is leap year
1872  is leap year
1876  is leap year
1880  is leap year
1884  is leap year
1888  is leap year
1892  is leap year
1896  is leap year
1900  is leap year
1904  is leap year
1908  is leap year
1912  is leap year
1916  is leap year
1920  is leap year
1924  is leap year
1928  is leap year
1932  is leap year
1936  is leap year
1940  is leap year
1944  is leap year
1948  is leap year
1952  is leap year
1956  is leap year
1960  is leap year
1964  is leap year
1968  is leap year
1972  is leap year
1976  is leap year
1980  is leap year
1984  is leap year
1988  is leap year
1992  is leap year
1996  is leap year
2000  is leap year
2004  is leap year
2008  is leap year
2012  is leap year
2016  is leap year
2020  is leap year

# User defined function

In [25]:
#creating arethematic operators using user defined functions
def oper(a,b):
    sum1 = a+b 
    mul = a*b
    sub = a - b
    return (sum1,mul,sub)

In [26]:
oper(6,3)

(9, 18, 3)

In [27]:
#Welcome With input 

def welcom():
    name = input(" Enter your name :")
    if name:
        print(f'Welcome to bepec {name}')
    else:
        print('name not provided')

In [28]:
welcom()

 Enter your name :ali
Welcome to bepec ali

# Lambda function

In [29]:
# sum using lambda function 
sum1 = lambda a,b: a+b

sum1(6,3)

9

In [33]:
# create a list using loop
# Create a list of first 10 number using list comprehension

list1 = []
for i in range(10):
    list1.append(i)
print(list1)

list2 = [i for i in range(10) if i%2!=0]
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [37]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# select all the even number form the list with filter()

fil = list(filter(lambda x : x%2==0, list1))
print(fil)

[0, 2, 4, 6, 8]

In [41]:
# get  the squiares of numbers form the list with map()
m = list(map(lambda x: x**2, list1))
print(m)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
#get the sum of numbers of the list using reduce()
from functools import reduce

red = reduce(lambda x,y: x+y, list1)
print(red)

45