# if Statements

In [16]:
#increment the value by 1
n=eval(input("enter the number to increment \t:"))
if ((n>=0)&(n<=10)):
            n+=1
            print("n value incremented by 1:\t",n)
else:
    print("enter the number in between 0 and 10")

enter the number to increment 	:2
n value incremented by 1:	 3

In [17]:
#Determine weather a person is eligible to vote by using  input 
n=eval(input("enter the value to check the persion is eligible to vote?\t"))
if (n>=18):
    print("the person is eligible for vote")
else:
    print("u or not allowed to vote")

enter the value to check the persion is eligible to vote?	20
the person is eligible for vote

# if - else Statements

In [10]:
#Determine weather a person is eligible to vote by using input
n=eval(input("enter the value to check the persion is eligible to vote?\t"))
if (n>=18):
    print("the person is eligible for vote")
else:
    print("u or not allowed to vote")

In [22]:
#find the number is even or odd by using input 
n=eval(input("enter the number to check the number is even or odd:\t"))
if (n%2==0):
    print(n,"is even number")
else:
    print(n,"is odd number")

enter the number to check the number is even or odd:	0
0 is even number

In [36]:
# A company decides to give bonus to all its employees on New year. A 10% bonus on salary for all the male workers and
# 25% to females. build a programme to enter Salary and Gender(m or F) of employee. 
salary=eval(input("entered salary is :\t"))
gender=input("entered gender is :\t")
if gender=='m':
    bonus=salary*0.10
    print("bonus salary is   :\t",bonus)
else :
    bonus=salary*0.25
    print("bonus salary is :\t",bonus)
total_sal=salary+bonus
print("total salary is   :\t",total_sal)

entered salary is :	2
entered gender is :	m
bonus salary is   :	 0.2
total salary is   :	 2.2

# if -elif- else Statement

In [45]:
# check weather the number is positive or negitive or equal to zero using input
num=eval(input("enter the number"))
if (num>0):
    print(num,"is positive")
elif(num<0):
    print(num,"is negative")
else:
    print(num,"is equal to zero")

enter the number-1
-1 is negative

In [55]:
# Test Weather the charcter is vowel or not vowel using input
list=['a','e','i','o','u']
char=input("enetr the character:\t")
print("is vowel") if (char in list) else print("not vowel")

enetr the character:	g
not vowel

In [ ]:
#Given an integer input perform the following conditional actions:

#If n is odd, print odd
#If n is even and in the inclusive range of 2 to 5, print small
#If n is even and in the inclusive range of 6 to 20, print medium
#If n is even and greater than 20, print big
n=eval(input("enter the number"))
if n%2!=0:
    print(n,"is odd")
elif n>=2 and n<=5 and n%2==0:
     print(n,"number is even and small")
elif n>=6 and n<=20 and n%2==0:
     print(n,"number is even and medium")
elif n>=20 and n%2==0:
     print(n,"number is even and large")

# while loop

In [76]:
# find average and sum for first 10 numbers 
i=1
sum=0
while i<=11:
    sum+=i
    i+=1
    avg=sum/i
print("sum is:\t",sum)
print("sum is:\t",avg)

sum is:	 66
sum is:	 5.5

In [66]:
# print first 10 numbers 
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [69]:
#Draw a line using while loop 
i=1
while i<=50:
    print("-",end=" ")
    i+=1

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In [85]:
#calculate the sum of m to n  numbers using input
m =int(input("enter the m value:\t"))
n =int(input("enter the n value:\t"))
sum=0
while m <= n:
    sum += m
    m += 1
print("sum of m to n is :",sum)

enter the m value:	2
enter the n value:	4
sum of m to n is : 9

In [90]:
# countdown 10 to 0 using input
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

# for loop

In [99]:
#Multiplication table using input
n=int(input("enter the number to get table:\t"))
for i in range(1, 11):
    print(n,'x', i,'=',n*i)

enter the number to get table:	2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [102]:
#print even and odd for range of number

for n in range(1,11):
    if(n %2 ==0):    
        print(n,"is even")
    else:    
        print(n,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [103]:
# break statement
for n in range(1,11):
    if(n %2 ==0):    
        print(n,"is even")
        break
    else:    
        print(n,"is odd")

1 is odd
2 is even

In [116]:
#countinue statement 
list=["sai","kumar","sandra"]
for n in list:
    if(n=="kumar"):    
        continue 
    print(n)

sai
sandra

In [117]:
# all leap years from 1800 - 2021
for i in range(1800,2021):
    if(i%4==0):
        print(i,"is leap year")

1800 is leap year
1804 is leap year
1808 is leap year
1812 is leap year
1816 is leap year
1820 is leap year
1824 is leap year
1828 is leap year
1832 is leap year
1836 is leap year
1840 is leap year
1844 is leap year
1848 is leap year
1852 is leap year
1856 is leap year
1860 is leap year
1864 is leap year
1868 is leap year
1872 is leap year
1876 is leap year
1880 is leap year
1884 is leap year
1888 is leap year
1892 is leap year
1896 is leap year
1900 is leap year
1904 is leap year
1908 is leap year
1912 is leap year
1916 is leap year
1920 is leap year
1924 is leap year
1928 is leap year
1932 is leap year
1936 is leap year
1940 is leap year
1944 is leap year
1948 is leap year
1952 is leap year
1956 is leap year
1960 is leap year
1964 is leap year
1968 is leap year
1972 is leap year
1976 is leap year
1980 is leap year
1984 is leap year
1988 is leap year
1992 is leap year
1996 is leap year
2000 is leap year
2004 is leap year
2008 is leap year
2012 is leap year
2016 is leap year
2020 is leap year

# User defined function

In [119]:
#creating arethematic operators using user defined functions
def Arthimatic(a,b):
    print ("sum is :\t",a+b)
    print ("sub is :\t",a-b)
    print ("mul is :\t",a*b)
    print ("div is :\t",a/b)
    print ("mod is :\t",a%b)
    print ("flo is :\t",a//b)
Arthimatic(2,3)

sum is :	 5
sub is :	 -1
mul is :	 6
div is :	 0.6666666666666666
mod is :	 2
flo is :	 0

In [125]:
#Welcome With input 

def welcome():
    name=input()
    print("Welcome to DataScience program","Mr.",name)
welcome()

sai
Welcome to DataScience program Mr. sai

# Lambda function

In [126]:
# sum using lambda function 
Add=lambda a,b:a+b
print(Add(2,3))

5

In [4]:
# create a list using loop
# Create a list of first 10 number using list comprehension
list1=[]
for i in range (1,11):
    list1.append(i)
print(list1)

new_list=[i for i in range(11) if i%2==0]

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [3]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# select all the even number form the list with filter()
l=[1,2,3,4,5,6,7,8,9,10]

fill= list(filter(lambda X: X%2==0,l))
print(fill)

[2, 4, 6, 8, 10]

In [13]:
# get  the squiares of numbers form the list with map()
import math
m = list(map(lambda x: round(math.pow(x,2)), l))
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
#get the sum of numbers of the list using reduce()
from functools import reduce
reduc=reduce(lambda a,b:a+b,list1)
print(reduc)

55